{{define "yield"}}

    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h2>Contact</h2>

            Get in touch with us by writing an email at
            <a href="mailto:support@goallery.com">support@goallery.com</a>
        </div>
    </main>

{{end}}
