@import url(/static/css/variables.css);

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

table {
	width: 100%;
	max-width: 1024px;
	font-size: 24px;
	margin-top: 20px;
	border-collapse: collapse;
}

tbody td {
	vertical-align: middle;
	padding: 5px;
}

tbody tr:nth-child(2n-1) {
	background-color: #eee;
}

td.cell-status {
	text-align: center;
}

.status-light {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 100%;
}

.status-light[data-status="0"] {
	background-color: var(--green);
}

.status-light[data-status="1"] {
	background-color: var(--yellow);
}

.status-light[data-status="2"] {
	background-color: var(--red);
}

tbody .cell-time-at-status {
	text-align: right;
}

tbody .cell-escalation {
	text-align: center;
}

.cell-actions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.cell-actions button {
	background-color: var(--red);
	color: white;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	padding: 5px;
	cursor: pointer;
}
