.goapp-app-info {
	/* dxps: Don't show any logo during the initial loading ... */
	display: none;
}
.goapp-notfound-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 65pt;
	font-weight: 100;
}
